:root {

    --section-gap: 8rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75 );

    --gap-xl: 3.5rem;
    --gap-l: 2.5rem;
    --gap-m: 1.5rem;
    --gap-s: 0.5rem;

    --border-radius: 0px;

    --color-dark: #14171F;
    --color-dark-200: #333;

    --color-accent: #D6F5DB;

    --color-light: #efead8;
    --color-light-200: #efead8;
    --color-light-300: #efead8;
    --color-light-400: #efead8;
    --color-light-500: #efead8;
    --color-light-600: #efead8;
    --color-light-700: #efead8;
    --color-light-800: #efead8;
    --color-light-900: #efead8;

    --font-sans: 'DM sans', sans-serif;

    --line-height: 1.5;

    --font-scale: 1.125;
    --font-size: 1rem;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );

}