body {
    font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-sans);
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
    line-height: var(--line-height);
}

a {
    text-decoration: none;
    &:hover {
        color: rgba(255, 255, 255, 0.8);
    }
}

li {
    line-height: var(--line-height);
}